/* General */
body {
    background-color: black;
    color: grey;
    font-family: sans-serif;
    font-size: 0.8em;
}

h2 {
    margin-left: 1em;
}

/* TempRHGraph */


.axis--x path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1px;
}

.line.rh {
  stroke: orange;
  stroke-width: 1.5px;
}

.axis {
    stroke: white;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis .domain {
    stroke: white;
}

.axis line {
    stroke: white;
}

.axis text.label {
    font-size: 1.1em;
}

.axis-rh text.label {
    stroke: orange;
}

.axis-temp text.label {
    stroke: steelblue;
}
